In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("Online Retail.xlsx")

In [3]:
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [4]:
data.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [6]:
data.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [7]:
# Remove the missing row
data.dropna(how='any', inplace=True)

In [8]:
data.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [9]:
data["InvoiceNo"].unique()

array([536365, 536366, 536367, ..., 581585, 581586, 581587], dtype=object)

In [10]:
data_sales = data[~data["InvoiceNo"].astype(str).str.startswith('C',na=False)]

In [11]:
# for C quantity is negative
data_sales = data_sales[data_sales["Quantity"] > 0]

In [12]:
data_sale = data_sales[data_sales["UnitPrice"] > 0]

In [13]:
data_sale["Quantity"].sum() - data["Quantity"].sum()

260924

In [14]:
data_sale["Quantity"].info()

<class 'pandas.core.series.Series'>
Int64Index: 397884 entries, 0 to 541908
Series name: Quantity
Non-Null Count   Dtype
--------------   -----
397884 non-null  int64
dtypes: int64(1)
memory usage: 6.1 MB

In [15]:
data_sale["UnitPrice"].info()

<class 'pandas.core.series.Series'>
Int64Index: 397884 entries, 0 to 541908
Series name: UnitPrice
Non-Null Count   Dtype
--------------   -----
397884 non-null  float64
dtypes: float64(1)
memory usage: 6.1 MB

In [16]:
subset_data = data_sale.head(1000).copy()

In [17]:
subset_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 1010
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    1000 non-null   object
 1   StockCode    1000 non-null   object
 2   Description  1000 non-null   object
 3   Quantity     1000 non-null   int64
 4   InvoiceDate  1000 non-null   datetime64[ns]
 5   UnitPrice    1000 non-null   float64
 6   CustomerID   1000 non-null   float64
 7   Country      1000 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 70.3+ KB

<h4>Q1. Design and implement a 2nd normalized relational database and insert the dataset into
database using SQL </h4>

In [18]:
import mysql.connector

In [19]:
conn = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "#include",
    database = "onlinedb"
)

In [20]:
cursor = conn.cursor()

In [21]:
product_data = subset_data[['StockCode','Description','UnitPrice']].drop_duplicates()

In [22]:
invoice_header_data= subset_data[['InvoiceNo','InvoiceDate','CustomerID','Country']].drop_duplicates()

In [23]:
invoice_details_data = subset_data[['InvoiceNo','StockCode','Quantity']]

In [24]:
# Strip whitespace and ensure StockCode is string
product_data['StockCode'] = product_data['StockCode'].astype(str).str.strip()
product_data = product_data.drop_duplicates(subset=['StockCode'])

In [25]:
for _, row in product_data.iterrows():
    cursor.execute("""
        INSERT IGNORE INTO Product (StockCode, Description, UnitPrice)
        VALUES (%s, %s, %s)
    """, tuple(row))

In [26]:
# Insert InvoiceHeader
for _, row in invoice_header_data.iterrows():
    cursor.execute("""
        INSERT IGNORE INTO InvoiceHeader (InvoiceNo, InvoiceDate, CustomerID, Country)
        VALUES (%s, %s, %s, %s)
    """, tuple(row))

In [27]:
# Ensure InvoiceNo and StockCode are strings
invoice_details_data['InvoiceNo'] = invoice_details_data['InvoiceNo'].astype(str).str.strip()
invoice_details_data['StockCode'] = invoice_details_data['StockCode'].astype(str).str.strip()

# Drop duplicate rows based on composite key (InvoiceNo, StockCode)
invoice_details_data = invoice_details_data.drop_duplicates(subset=['InvoiceNo', 'StockCode'])

/var/folders/_y/f2r75x1d16z5sqhx_jr3nqvw0000gn/T/ipykernel_18493/1043787788.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  invoice_details_data['InvoiceNo'] = invoice_details_data['InvoiceNo'].astype(str).str.strip()
/var/folders/_y/f2r75x1d16z5sqhx_jr3nqvw0000gn/T/ipykernel_18493/1043787788.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  invoice_details_data['StockCode'] = invoice_details_data['StockCode'].astype(str).str.strip()

In [28]:
for _, row in invoice_details_data.iterrows():
    cursor.execute("""
        INSERT IGNORE INTO InvoiceDetail (InvoiceNo, StockCode, Quantity)
        VALUES (%s, %s, %s)
    """, tuple(row))

In [29]:
# Commit and close connection
conn.commit()
cursor.close()
conn.close()

print("Data inserted successfully into 2NF tables!")

Data inserted successfully into 2NF tables!

<h4>Q.2 Design and implement MongoDB's document-oriented approach (implement both
transaction and customer centric approaches) and use PyMongo with connection
pooling and error handling.</h4>

In [31]:
from pymongo.errors import (
    ConnectionFailure,      # Use this instead of ConnectionError
    BulkWriteError,
    ServerSelectionTimeoutError,
    OperationFailure,
    DuplicateKeyError,
    WriteError
)

In [45]:
from pymongo import MongoClient
from pymongo.errors import ConnectionFailure, BulkWriteError
MONGO_URI = "mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+2.5.8"

DB_NAME = "OnlineRetailDB"

In [46]:
def get_mongo_client():
    """Connects to MongoDB with error handling and returns the client."""
    try:
        # MongoClient handles connection pooling automatically
        client = MongoClient(MONGO_URI, serverSelectionTimeoutMS=5000)
        # The ismaster command is cheap and does not require auth.
        client.admin.command('ismaster')
        print("Successfully connected to MongoDB.")
        return client
    except ConnectionError as e:
        print(f"ERROR: Could not connect to MongoDB. Check URI and server status. Details: {e}")
        return None

In [47]:
def transform_to_transaction_centric(df):
    """Transforms the DataFrame into a list of transaction-centric MongoDB documents."""

    # Define the fields to be embedded as items
    item_fields = ['StockCode', 'Description', 'Quantity', 'UnitPrice']

    # 1. Group by InvoiceNo
    transactions_grouped = df.groupby('InvoiceNo').agg(
        # Aggregate the header fields (first non-null value)
        InvoiceDate=('InvoiceDate', 'first'),
        CustomerID=('CustomerID', 'first'),
        Country=('Country', 'first'),
        # Aggregate the item details into a list of dictionaries
        Items=(item_fields, lambda x: x.to_dict('records'))
    ).reset_index()

    # 2. Rename InvoiceNo to _id (MongoDB primary key)
    transactions_grouped = transactions_grouped.rename(columns={'InvoiceNo': '_id'})

    # 3. Convert DataFrame to a list of dictionaries (JSON documents)
    return transactions_grouped.to_dict('records')

# transactions_data = transform_to_transaction_centric(df_subset)
# print(f"Prepared {len(transactions_data)} transaction documents.")

In [48]:
def insert_transaction_centric(client, data):
    """Inserts transaction-centric documents into MongoDB."""
    if not client: return
    db = client[DB_NAME]
    collection = db['transactions']

    try:
        # Clear existing data for fresh insertion
        collection.drop()

        # Insert many documents in a single batch operation
        result = collection.insert_many(data, ordered=False)
        print(f"Transaction-Centric: Successfully inserted {len(result.inserted_ids)} documents.")
    except BulkWriteError as bwe:
        print(f"Transaction-Centric: Bulk Write Error occurred (e.g., duplicate keys). Total errors: {len(bwe.details['writeErrors'])}")
    except Exception as e:
        print(f"Transaction-Centric: An unexpected error occurred during insertion: {e}")

In [52]:
def transform_to_transaction_centric(df):
    """Transforms the DataFrame into a list of transaction-centric MongoDB documents."""

    # 1. Group by InvoiceNo, aggregating simple fields first
    transactions_grouped = df.groupby('InvoiceNo').agg(
        InvoiceDate=('InvoiceDate', 'first'),
        CustomerID=('CustomerID', 'first'),
        Country=('Country', 'first')
    ).reset_index()

    # 2. Group the full DataFrame again to aggregate the complex 'Items' array
    def create_items_list(group):
        """Converts the line items of a group into a list of dictionaries."""
        # Select the columns that define an 'Item' and convert them to a list of dicts
        item_fields = ['StockCode', 'Description', 'Quantity', 'UnitPrice']
        return group[item_fields].to_dict('records')

    # Apply the item creation function to each group
    items_agg = df.groupby('InvoiceNo').apply(create_items_list).rename('Items')

    # 3. Merge the two aggregations
    transactions_grouped = transactions_grouped.merge(
        items_agg.reset_index(),
        on='InvoiceNo',
        how='left'
    )

    # 4. Rename InvoiceNo to _id (MongoDB primary key)
    transactions_grouped = transactions_grouped.rename(columns={'InvoiceNo': '_id'})

    # 5. Convert DataFrame to a list of dictionaries (JSON documents)
    return transactions_grouped.to_dict('records')

# transactions_data = transform_to_transaction_centric(df_subset)
# # You can now proceed with insert_transaction_centric(client, transactions_data)

In [53]:
def insert_customer_centric(client, data):
    """Inserts customer-centric documents into MongoDB."""
    if not client: return
    db = client[DB_NAME]
    collection = db['customers']

    try:
        # Clear existing data for fresh insertion
        collection.drop()

        # Insert many documents
        result = collection.insert_many(data, ordered=False)
        print(f"Customer-Centric: Successfully inserted {len(result.inserted_ids)} documents.")
    except BulkWriteError as bwe:
        print(f"Customer-Centric: Bulk Write Error occurred (e.g., duplicate customer IDs). Total errors: {len(bwe.details['writeErrors'])}")
    except Exception as e:
        print(f"Customer-Centric: An unexpected error occurred during insertion: {e}")

In [54]:
if __name__ == '__main__':
    # --- Assuming df_subset is loaded and cleaned ---
    # Example placeholder for your data (replace with actual loading)
    # Note: Using a small sample here for demonstration
    df_subset = pd.DataFrame({
        'InvoiceNo': ['536365', '536365', '536366', '536366'],
        'StockCode': ['85123A', '71053', '22745', '21755'],
        'Description': ['WHITE HANGING', 'WHITE METAL', 'HEART DECOR', 'LOVE HEART'],
        'Quantity': [6, 6, 8, 10],
        'InvoiceDate': ['2010-12-01', '2010-12-01', '2010-12-01', '2010-12-01'],
        'UnitPrice': [2.55, 3.39, 1.85, 1.65],
        'CustomerID': [17850.0, 17850.0, 17850.0, 17850.0],
        'Country': ['United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom']
    })
    df_subset['InvoiceDate'] = pd.to_datetime(df_subset['InvoiceDate'])
    # ------------------------------------------------

    # 1. Get Mongo Client
    client = get_mongo_client()

    if client:
        # 2. Transaction-Centric Implementation
        print("\n--- Running Transaction-Centric Insertion ---")
        transactions_data = transform_to_transaction_centric(df_subset)
        insert_transaction_centric(client, transactions_data)

        # 3. Customer-Centric Implementation
        print("\n--- Running Customer-Centric Insertion ---")
        customers_data = transform_to_customer_centric(df_subset)
        insert_customer_centric(client, customers_data)

        # Close the client connection
        client.close()
        print("\nMongoDB connection closed.")

Successfully connected to MongoDB.

--- Running Transaction-Centric Insertion ---
Transaction-Centric: Successfully inserted 2 documents.

--- Running Customer-Centric Insertion ---
Customer-Centric: Successfully inserted 1 documents.

MongoDB connection closed.